level/level0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Level">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Info" type="xs:string" />
        <xs:element name="Start" type="xs:unsignedByte" />
        <xs:element name="Finish" type="xs:unsignedShort" />
        <xs:element maxOccurs="unbounded" name="Floor" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="Wall" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="Spawn" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>